body, html {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 30px;
  color: white;
  /* margin: auto; */
  /* text-align: center; */
  margin: 20px;
}

.black {
  color: black;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-width: 100%;
  height: 100%;
  position: relative;
}

.containerSlider {
  margin:auto;
  border: 1px solid rgba(255, 255, 255, .6);
  padding: 5px;
  width: 100%;
  height: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
